*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 1rem;
}

body {
    padding: 1rem;
}

.immagini {
    margin-bottom: .5rem;
}

h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section {
    margin-bottom: 1rem;
}

ul, ol {
    margin-left: 2em;
}